.main-content{
    width: 100vw;
    height:100vh;
    overflow: hidden;
}
h1{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    height: 18vh;
    font-size: 50px;
}
.diseasename,.remark,.adddisease{
    display: flex;
    justify-content: center;
    align-items: center;
    height:10vh;
}
.diseaseName,.Remark{
    text-align: center;
    height: 6vh;
    width:300px;
    border-radius: 10px;
    font-size: 24px;
    border:1px solid black;
    outline: none;
}
.diseaselogo{
    margin-bottom: 2vh;
    height: 20vh;
}
.disease{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26vh;
}
.addDisease{
    background-color: #D81B60;
    color: white;
    border-radius: 15px;
    width:200px;
    height: 6vh;
    font-size: 20px;
    border:1px solid black;
    outline: none;
    cursor: pointer;
}
