:root{
    --color-1:#502CB2;
}
.base-container{
    width:100%; 
    height:100vh;
    background-color: var(--color-1); 
    overflow:hidden;
}
.stylehealth,.stylecare{
    width:50vw;
    height:25vh;
}
.stylemainlogo{
    width:50vw;
    height:50vh;
}
.mainLogo{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.health{
    display: flex-end;
    justify-content: left;
    align-items: center;
}
.care{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}